<ion-view class="home">
	<ion-content>
		<header>
			<div class="brand">
				<img src="img/logo.png" alt="Logotipo"/>
			</div>
			<div class="h-space">
				<h2>Artea zure eskura</h2>
				<p>Arakatu, elkarreragin eta ezagutu artista garaikideen obra.</p>
			</div>
		</header>
		<a data-ng-href="#/expo/btoy" class="expo btoy">
			<div class="info">
				<h3>Beautiful transgressions</h3>
				<p class="artist">Btoy</p>
				<p>Exposición individual</p>
			</div>
		</a>
		<a data-ng-href="#/expo/vinz" class="expo vinz">
			<div class="info">
				<h3>Market</h3>
				<p class="artist">Vinz</p>
				<p>Banako erakusketa</p>
			</div>
		</a>
		<a data-ng-href="#/expo/hoppek" class="expo hoppek">
			<div class="info">
				<h3>Don´t believe a word i say</h3>
				<p class="artist">Boris Hoppek</p>
				<p>Banako erakusketa</p>
			</div>
		</a>
		<a data-ng-href="#/expo/grudziecki" class="expo grudziecki">
			<div class="info">
				<h3>Sea forts</h3>
				<p class="artist">Michael Grudziecki</p>
				<p>Banako erakusketa</p>
			</div>
		</a>
		<a data-ng-href="#/expo/okuda" class="expo okuda">
			<div class="info">
				<h3>Dream or die</h3>
				<p class="artist">Okuda San Miguel</p>
				<p>Banako erakusketa</p>
			</div>
		</a>
		<a data-ng-href="#/expo/paper" class="expo paper">
			<div class="info">
				<h3>Paper gaineko lanak</h3>
				<p>Taldeko erakusketa</p>
			</div>
		</a>
		<a data-ng-href="#/expo/spy" class="expo spy">
			<div class="info">
				<h3>Pirámide</h3>
				<p class="artist">Spy</p>
				<p>Instalazioa</p>
			</div>
		</a>
	</ion-content>
</ion-view>