/* Vars*/
/*Mixins*/
/*Main fonts*/
@font-face {
  font-family: 'deck';
  src: url("../fonts/deck-black-webfont.eot");
  src: url("../fonts/deck-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/deck-black-webfont.woff2") format("woff2"), url("../fonts/deck-black-webfont.woff") format("woff"), url("../fonts/deck-black-webfont.ttf") format("truetype"), url("../fonts/deck-black-webfont.svg#deckblack") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'deck';
  src: url("../fonts/deck-blackitalic-webfont.eot");
  src: url("../fonts/deck-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/deck-blackitalic-webfont.woff2") format("woff2"), url("../fonts/deck-blackitalic-webfont.woff") format("woff"), url("../fonts/deck-blackitalic-webfont.ttf") format("truetype"), url("../fonts/deck-blackitalic-webfont.svg#deckblack_italic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'deck';
  src: url("../fonts/deck-bold-webfont.eot");
  src: url("../fonts/deck-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/deck-bold-webfont.woff2") format("woff2"), url("../fonts/deck-bold-webfont.woff") format("woff"), url("../fonts/deck-bold-webfont.ttf") format("truetype"), url("../fonts/deck-bold-webfont.svg#deckbold") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'deck';
  src: url("../fonts/deck-bolditalic-webfont.eot");
  src: url("../fonts/deck-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/deck-bolditalic-webfont.woff2") format("woff2"), url("../fonts/deck-bolditalic-webfont.woff") format("woff"), url("../fonts/deck-bolditalic-webfont.ttf") format("truetype"), url("../fonts/deck-bolditalic-webfont.svg#deckbold_italic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'deck';
  src: url("../fonts/deck-italic-webfont.eot");
  src: url("../fonts/deck-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/deck-italic-webfont.woff2") format("woff2"), url("../fonts/deck-italic-webfont.woff") format("woff"), url("../fonts/deck-italic-webfont.ttf") format("truetype"), url("../fonts/deck-italic-webfont.svg#deckitalic") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'deck';
  src: url("../fonts/deck-light-webfont.eot");
  src: url("../fonts/deck-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/deck-light-webfont.woff2") format("woff2"), url("../fonts/deck-light-webfont.woff") format("woff"), url("../fonts/deck-light-webfont.ttf") format("truetype"), url("../fonts/deck-light-webfont.svg#decklight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'deck';
  src: url("../fonts/deck-lightitalic-webfont.eot");
  src: url("../fonts/deck-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/deck-lightitalic-webfont.woff2") format("woff2"), url("../fonts/deck-lightitalic-webfont.woff") format("woff"), url("../fonts/deck-lightitalic-webfont.ttf") format("truetype"), url("../fonts/deck-lightitalic-webfont.svg#decklight_italic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'deck';
  src: url("../fonts/deck-thin-webfont.eot");
  src: url("../fonts/deck-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/deck-thin-webfont.woff2") format("woff2"), url("../fonts/deck-thin-webfont.woff") format("woff"), url("../fonts/deck-thin-webfont.ttf") format("truetype"), url("../fonts/deck-thin-webfont.svg#deckthin") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'deck';
  src: url("../fonts/deck-thinitalic-webfont.eot");
  src: url("../fonts/deck-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/deck-thinitalic-webfont.woff2") format("woff2"), url("../fonts/deck-thinitalic-webfont.woff") format("woff"), url("../fonts/deck-thinitalic-webfont.ttf") format("truetype"), url("../fonts/deck-thinitalic-webfont.svg#deckthin_italic") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'deck';
  src: url("../fonts/deck-webfont.eot");
  src: url("../fonts/deck-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/deck-webfont.woff2") format("woff2"), url("../fonts/deck-webfont.woff") format("woff"), url("../fonts/deck-webfont.ttf") format("truetype"), url("../fonts/deck-webfont.svg#deckregular") format("svg");
  font-weight: 400;
  font-style: normal; }

/* Main styles*/
body {
  font-family: 'deck'; }

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'deck';
  color: #ffffff; }

h2 {
  font-size: 1.6em; }

/* Helpers*/
.h-space {
  padding: 0 10px; }

.button-scg {
  width: 200px;
  border: none;
  background-color: #919191;
  color: #ffffff;
  line-height: 44px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  .button-scg.activated {
    background-color: #787878; }

/* Social links */
.social-links {
  text-align: center;
  padding: 20px 0; }
  .social-links li {
    display: inline-block; }
    .social-links li a {
      padding: 0 10px; }
      .social-links li a .icon {
        color: #5f5f5f;
        font-size: 2em; }
      .social-links li a img {
        height: 25px;
        width: auto;
        display: inline-block; }

/* Separators*/
.separator-up,
.separator-down {
  width: 100%;
  display: block;
  position: relative;
  height: 1px;
  background-color: #919191;
  margin: 30px 0;
  text-align: center; }
  .separator-up:before,
  .separator-down:before {
    content: "";
    display: inline-block;
    width: 32px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: relative; }
  .separator-up:after,
  .separator-down:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    z-index: 10;
    height: 6px;
    background-color: #ffffff; }
  .separator-up > span,
  .separator-down > span {
    position: absolute;
    content: "";
    display: inline-block;
    width: 32px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    left: 50%;
    margin-left: -16px; }
    .separator-up > span:before,
    .separator-down > span:before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 32px;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      left: 50%;
      margin-left: -16px; }
    .separator-up > span:after,
    .separator-down > span:after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 32px;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      left: 50%;
      margin-left: -16px; }

.separator-up:before {
  border-bottom: 24px solid #919191;
  top: -24px; }

.separator-up:after {
  top: 1px; }

.separator-up > span {
  top: -22px;
  border-bottom: 24px solid #ffffff; }
  .separator-up > span:before {
    border-bottom: 24px solid #919191;
    top: 4px; }
  .separator-up > span:after {
    border-bottom: 24px solid #ffffff;
    top: 6px; }

.separator-down:before {
  border-top: 24px solid #919191;
  top: 0; }

.separator-down:after {
  top: -7px; }

.separator-down > span {
  border-top: 24px solid #ffffff;
  top: -2px; }
  .separator-down > span:before {
    border-top: 24px solid #919191;
    top: -28px; }
  .separator-down > span:after {
    border-top: 24px solid #ffffff;
    top: -30px; }

.double-separator {
  text-align: center;
  margin: 20px 0;
  position: relative; }
  .double-separator:before, .double-separator:after {
    content: "";
    width: 100%;
    background-color: #919191;
    height: 1px;
    position: absolute;
    left: 0;
    z-index: 1; }
  .double-separator:after {
    top: 15px; }
  .double-separator:before {
    top: 5px; }
  .double-separator .patch {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    background-color: #ffffff;
    z-index: 10; }
  .double-separator .double-separator-svg {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    z-index: 20; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 5em;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center; }
  .loader .spinner {
    position: relative;
    top: 40%;
    width: 104px;
    height: 54px;
    display: inline-block;
    animation-name: loader;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -wekit-animation-name: loader;
    -wekit-animation-duration: 4s;
    -wekit-animation-iteration-count: infinite; }

/* App bars */
.bar.bar-dark {
  background-color: #232323;
  border: none;
  background-image: none;
  box-shadow: none;
  border-color: #232323; }
  .bar.bar-dark .button {
    border: none;
    background-color: transparent; }
    .bar.bar-dark .button:before {
      font-size: 30px; }
    .bar.bar-dark .button:before, .bar.bar-dark .button:after {
      border: none; }

.bar.bar-subheader {
  border-top: 1px solid rgba(255, 255, 255, 0.2); }

/*Menu*/
.menu {
  background-color: #232323; }
  .menu .ion-close {
    margin: 10px 0;
    border: none;
    background-color: transparent;
    padding: 0 10px;
    min-width: 0;
    color: #ffffff; }
  .menu .list .item {
    padding: 10px; }
    .menu .list .item.active .item-content {
      background-color: rgba(255, 255, 255, 0.1); }
    .menu .list .item.item-complex {
      padding: 0; }
    .menu .list .item .item-content {
      -webkit-transition: 0.35s all;
      -moz-transition: 0.35s all;
      -ms-transition: 0.35s all;
      -o-transition: 0.35s all;
      transition: 0.35s all; }
      .menu .list .item .item-content.activated {
        background-color: rgba(255, 255, 255, 0.1); }
  .menu .list .item-complex .item-content {
    padding: 10px; }
  .menu .list .item, .menu .list .item-content {
    background-color: #232323;
    color: #ffffff;
    border: none; }
    .menu .list .item strong, .menu .list .item-content strong {
      font-size: 0.9em; }
  .menu .list .item {
    border: 1px solid rgba(255, 255, 255, 0.2); }
    .menu .list .item.inner .item-content {
      padding-left: 20px; }

/* Home */
.home header {
  background-image: url(../img/home_header.jpg); }
  .home header > * {
    position: relative;
    z-index: 10; }
  .home header .brand {
    padding-top: 20px;
    text-align: center; }
    .home header .brand img {
      max-width: 75px;
      display: inline-block; }
  .home header h2, .home header p {
    text-align: center;
    font-weight: 500; }
  .home header h2 {
    font-size: 20px;
    margin: 5px 0; }
  .home header p {
    margin: 0; }

.home .expo:last-child {
  border-bottom: none; }

/* Expos*/
.expo {
  display: block;
  width: 100%; }
  .expo.btoy {
    background-image: url(../img/btoy_main.jpg); }
  .expo.vinz {
    background-image: url(../img/vinz_main.jpg); }
  .expo.hoppek {
    background-image: url(../img/hoppek_main.jpg); }
  .expo.grudziecki {
    background-image: url(../img/grudziecki_main.jpg); }
  .expo.okuda {
    background-image: url(../img/okuda_main.jpg); }
  .expo.paper {
    background-image: url(../img/paper_main.jpg); }
  .expo.spy {
    background-image: url(../img/spy_main.jpg); }
  .expo.activated:after {
    background-color: transparent; }
  .expo.activated .info * {
    color: transparent; }
  .expo.activated .info .artist:before, .expo.activated .info .artist:after {
    border-color: transparent; }
  .expo .info {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 10px;
    z-index: 10; }
    .expo .info > * {
      -webkit-transition: 0.35s all;
      -moz-transition: 0.35s all;
      -ms-transition: 0.35s all;
      -o-transition: 0.35s all;
      transition: 0.35s all;
      text-align: center;
      margin: 0 0 5px; }
    .expo .info h3 {
      font-size: 20px;
      font-weight: 400; }
    .expo .info .artist {
      font-weight: 500;
      font-size: 20px; }
      .expo .info .artist:before, .expo .info .artist:after {
        -webkit-transition: 0.35s all;
        -moz-transition: 0.35s all;
        -ms-transition: 0.35s all;
        -o-transition: 0.35s all;
        transition: 0.35s all;
        position: relative;
        content: "";
        width: 20px;
        border-top: 2px solid #ffffff;
        display: inline-block;
        top: -5px; }
      .expo .info .artist:before {
        margin-right: 10px; }
      .expo .info .artist:after {
        margin-left: 10px; }

/* Expos && header common*/
.expo,
.home header {
  position: relative;
  height: 190px;
  background-position: center;
  background-size: cover;
  border-bottom: 2px solid #ffffff; }
  @media screen and (min-width: 678px) {
    .expo,
    .home header {
      height: 350px; } }
  .expo:after,
  .home header:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.35s all;
    -moz-transition: 0.35s all;
    -ms-transition: 0.35s all;
    -o-transition: 0.35s all;
    transition: 0.35s all; }

/* Expo screen */
.expo-screen h1, .expo-screen h2, .expo-screen h3, .expo-screen h4, .expo-screen h5, .expo-screen h6, .expo-screen p, .expo-screen span, .expo-screen a {
  color: #232323; }

.expo-screen header {
  width: 100%;
  display: block;
  height: 44px;
  background-color: #232323;
  border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .expo-screen header h2 {
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6); }

.expo-screen.btoy .featured-img {
  background-image: url(../img/btoy_main.jpg); }

.expo-screen.vinz .featured-img {
  background-image: url(../img/vinz_main.jpg); }

.expo-screen.hoppek .featured-img {
  background-image: url(../img/hoppek_main.jpg); }

.expo-screen.grudziecki .featured-img {
  background-image: url(../img/grudziecki_main.jpg); }

.expo-screen.okuda .featured-img {
  background-image: url(../img/okuda_main.jpg); }

.expo-screen.paper .featured-img {
  background-image: url(../img/paper_main.jpg); }

.expo-screen.spy .featured-img {
  background-image: url(../img/spy_main.jpg); }

.expo-screen .featured-img {
  width: 100%;
  height: 190px;
  background-position: center;
  background-size: cover; }
  @media screen and (min-width: 678px) {
    .expo-screen .featured-img {
      height: 350px; } }

.expo-screen .expo-screen-content {
  padding: 40px 10px; }
  .expo-screen .expo-screen-content .main-info .category {
    font-size: 0.9em;
    color: #565656; }
  .expo-screen .expo-screen-content .main-info h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px; }
  .expo-screen .expo-screen-content .main-info .artist {
    font-weight: 500;
    font-size: 24px; }
  .expo-screen .expo-screen-content .description {
    margin-top: 20px; }

.expo-screen .expo-slider {
  margin: 30px -10px 0; }
  .expo-screen .expo-slider p {
    padding: 0 10px; }
  .expo-screen .expo-slider .slider .slider-slide img {
    max-width: 100%; }

.expo-screen .slider-pager .slider-pager-page {
  color: #ffffff; }

.expo-screen .bio {
  margin-top: 30px; }
  @media screen and (min-width: 1024px) {
    .expo-screen .bio > div {
      float: left;
      width: 480px; } }
  .expo-screen .bio:after {
    content: '';
    width: 100%;
    display: table; }
  .expo-screen .bio h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px; }
    .expo-screen .bio h3 strong {
      font-weight: 500; }
  .expo-screen .bio img {
    float: left;
    max-width: 100%; }
    @media screen and (min-width: 1024px) {
      .expo-screen .bio img {
        float: right;
        width: 480px; } }

/* Credits */
.credits .button {
  color: #ffffff; }

.credits .credits-content .credits-block {
  padding: 0 10px;
  margin: 30px 0;
  text-align: center; }
  .credits .credits-content .credits-block p {
    font-weight: 300; }
  .credits .credits-content .credits-block h2, .credits .credits-content .credits-block p {
    font-size: 18px;
    margin-bottom: 20px; }

/* The project */
.theproject .theproject-content {
  margin: 30px 0;
  padding: 0 10px; }
  .theproject .theproject-content h2 {
    font-size: 18px; }

/* Credits and The project*/
.credits,
.theproject {
  color: #232323; }
  .credits h1, .credits h2, .credits h3, .credits h4, .credits h5, .credits h6, .credits p, .credits span, .credits a,
  .theproject h1,
  .theproject h2,
  .theproject h3,
  .theproject h4,
  .theproject h5,
  .theproject h6,
  .theproject p,
  .theproject span,
  .theproject a {
    color: #232323; }

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  25% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
  75% {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@keyframes loader {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  25% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
  75% {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg); }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
